.mapcontainer{
    display: block;
    height: 100%;
    position: relative;
}

.popupbc{
    position: absolute;
    top: 0;
    height: 80%;
    width: 100%;
    background-color: #00000048;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup{
    background-color: white;
    height: 50%;
    width: 50%;
}

#map {
    height: 80%;
}


  /* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}